# Blacklist files/folders in same directory as the .gitignore file


# Whitelist some files
!.gitignore
!README.md

# Ignore all files named .DS_Store or ending with .log
**/.DS_Store
*.code-workspace

# Whitelist plugins/omnibus, but not anything else in plugins?
!plugins/
plugins/*
!plugins/omnibus/